{% include "front/inc/header" %}

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {% include "sign/third_part_connect" is_signup=true %}
        <div class="signup-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Sign Up</h3>
          </div>
          <div class="panel-body">
            {% include "front/inc/error" %}
            <form role="form" method="post" enctype="multipart/form-data">
              <input type="hidden" name="_csrf" value="{{_csrf|escape}}">
              <fieldset>
                <div class="form-group">
                  <input class="form-control" placeholder="User Name" name="name" type="text" value="{{_server.body.name|escape}}" autofocus>
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="E-mail" name="email" type="email" value="{{_server.body.email|escape}}">
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Password" name="password" type="password" value="{{_server.body.password|escape}}">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                </div>
              </fieldset>
            </form>
            {% include "sign/third_part_signin" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% include "front/inc/footer" %}
