{% include "front/inc/header" %}

<div style="height:100px;"></div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">

      {% include "front/inc/error" %}

      {% if new_password %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">You've successfully changed your password.</h3>
        </div>
        <div class="panel-body">
          <p>Your new password is: <strong>{{new_password|escape}}</strong></p>
          <p>By the time you view this page, the server has already forgotten it, and the reset token has been consumed.</p>
          <p><a href="/signin" class="btn btn-xs btn-primary">Sign in now</a> with this password.</p>
          <p>You will be prompted to change it immediately.</p>
        </div>
      </div>

      {% endif %}

    </div>
  </div>
</div>

{% include "front/inc/footer" %}
